# This is Assignment 06 - John Saia

## Requirement 4

In [1]:
# Create a list named list_1 

list_1 = []

# Populate list_1 list with 20 arbitrary numbers between 0 and 99

import numpy as np

for element in range(20):
    
    x = np.random.randint(100)
    list_1.append(x)

print('List_1 contains the elements:', list_1, '\n')

# output the length of the list

list_count = len(list_1)

print('The amount of elements in list_1 is', list_count,'\n')

# append 3 numbers to the list between 0 and 99

for element in range(3):
    
    x = np.random.randint(100)
    list_1.append(x)

print('This is list_1 with 3 additional numbers appeneded:', list_1,'\n')

# use the addition operator (+ sign) to append a literal list of 7
# numbers between 0 and 99 to list_1. A literal list consists of
# objects in []; like [1, 2, 3], without assignment to a variable.

list_2 = [20, 10, 15, 18, 90, 80, 45]

list_1_2 = list_1 + list_2

print('This is the result of list_1 + list_2:', list_1_2,'\n')

# sort list_1

list_1.sort()

print('This is list_1 sorted:', list_1, '\n')

List_1 contains the elements: [8, 13, 5, 13, 24, 28, 94, 72, 83, 49, 14, 4, 99, 59, 83, 49, 30, 31, 84, 24]

The amount of elements in list_1 is 20

This is list_1 with 3 additional numbers appeneded: [8, 13, 5, 13, 24, 28, 94, 72, 83, 49, 14, 4, 99, 59, 83, 49, 30, 31, 84, 24, 74, 49, 32]

This is the result of list_1 + list_2: [8, 13, 5, 13, 24, 28, 94, 72, 83, 49, 14, 4, 99, 59, 83, 49, 30, 31, 84, 24, 74, 49, 32, 20, 10, 15, 18, 90, 80, 45]

This is list_1 sorted: [4, 5, 8, 13, 13, 14, 24, 24, 28, 30, 31, 32, 49, 49, 49, 59, 72, 74, 83, 83, 84, 94, 99]

## Requirement 5

In [2]:
# the 4th element

fourth_element = list_1[3]

print('The fourth element in list_1 is', fourth_element, '\n')

# the 15th element

fifteenth_element = list_1[14]

print('The fifteenth element in list_1 is', fifteenth_element, '\n')

# the 3rd element from the end

end3_element = list_1[-3]

print('The 3rd element from the end of list_1 is', end3_element, '\n')

# the 7th element from the end

end7_element = list_1[-7]

print('The 7th element from the end of list_1 is', end7_element, '\n')

# the first 4 elements

first4_element = list_1[:4]

print('The first 4 elements in list_1 is', first4_element, '\n')

# the last 5 elements

last5_element = list_1[-6:-1]

print('The last 5 elements in list_1 is', last5_element, '\n')

# the elements in reverse order

reverse_order = list_1[::-1]

print('This is list_1 in reverse order:', reverse_order, '\n')

# set the 14th element = -99

list_1[13] = -99

print('This is the 14th element in list_1', list_1[13], '\n')

# every other (alternating) element in the list

othernum_list = list_1[::2]

print('This is an aternating number list of list_1', othernum_list, '\n')

# set elements 9th through 15th to -77

list_1[8:15] = [-77, -77, -77, -77, -77, -77, -77]

print('This is list_1 with 9th through 15th elements set to -77:', list_1[8:15])

The fourth element in list_1 is 13

The fifteenth element in list_1 is 49

The 3rd element from the end of list_1 is 84

The 7th element from the end of list_1 is 72

The first 4 elements in list_1 is [4, 5, 8, 13]

The last 5 elements in list_1 is [74, 83, 83, 84, 94]

This is list_1 in reverse order: [99, 94, 84, 83, 83, 74, 72, 59, 49, 49, 49, 32, 31, 30, 28, 24, 24, 14, 13, 13, 8, 5, 4]

This is the 14th element in list_1 -99

This is an aternating number list of list_1 [4, 8, 13, 24, 28, 31, 49, 49, 72, 83, 84, 99]

This is list_1 with 9th through 15th elements set to -77: [-77, -77, -77, -77, -77, -77, -77]

## Requirement 6

In [3]:
# Create a tuple named tuple_1 containing 7 arbitrary numbers

tuple_1 = (10,20,30,40,50,60,70)

print('This is the tuple:', tuple_1)

# attempt to set the 3rd value to -33

tuple_1[2] = -33

print(tuple_1)

This is the tuple: (10, 20, 30, 40, 50, 60, 70)

TypeError: 'tuple' object does not support item assignment

In [19]:
# attempt to append the value -22 to the tuple

tuple_1.append(-22)

print(tuple_1)

AttributeError: 'tuple' object has no attribute 'append'

## Requirement 7

In [4]:
# Create a dictionary named players_<sportofchoice> (e.g. players_baseball)
# populate the dictionary with player positions as keys (e.g. shortstop) player names as values (e.g. Brennen)
# include at least 9 key::value pairs in the dictionary

players_football = {'QB':'Jameis Winston', 'RB':'Alvin Kamara', 'WR':'Michael Thomas', 'S':'Marcus Maye',
                    'TE':'Taysom Hill','C':'Eric McCoy','OT':'Trevor Penning','DE':'Cameron Jordan','DT':'Shy Tuttle'}

print('Saints football roster dictionary', players_football, '\n')

# change a key::value pair

players_football['RB'] = 'Mark Ingram'

print('The RB on the Saints is now:', players_football['RB'], '\n')

# add a new key::value pair

players_football['LB'] = 'Demario Davis'

print('The LB postion was added to the roster:', players_football, '\n')

Saints football roster dictionary {'QB': 'Jameis Winston', 'RB': 'Alvin Kamara', 'WR': 'Michael Thomas', 'S': 'Marcus Maye', 'TE': 'Taysom Hill', 'C': 'Eric McCoy', 'OT': 'Trevor Penning', 'DE': 'Cameron Jordan', 'DT': 'Shy Tuttle'}

The RB on the Saints is now: Mark Ingram

The LB postion was added to the roster: {'QB': 'Jameis Winston', 'RB': 'Mark Ingram', 'WR': 'Michael Thomas', 'S': 'Marcus Maye', 'TE': 'Taysom Hill', 'C': 'Eric McCoy', 'OT': 'Trevor Penning', 'DE': 'Cameron Jordan', 'DT': 'Shy Tuttle', 'LB': 'Demario Davis'}

## Requirement 8

In [5]:
# Create two sets named hatfields and mccoys. Each set should contain 10
# first names with a few in common.

hatfields = {'John', 'Sam', 'Jim', 'Tim', 'Pam', 'Kim', 'Jan', 'Seth', 'Rick', 'Roman'}

mccoys = {'John', 'Sam', 'Jim', 'Tim', 'Jan', 'Jerry', 'Tom', 'Joe', 'Wendy', 'Michael'}

# union

name_union = hatfields | mccoys

print('This is a union of the family names:', name_union,'\n')

# intersection

name_intersection = hatfields & mccoys

print('This is a intersection of the family names:', name_intersection, '\n')

# difference

name_difference = hatfields - mccoys

print('This is the difference of the family names:', name_difference, '\n')

# symmetric difference

name_sdifference = hatfields ^ mccoys

print('This is the symmetric difference of the family names:', name_sdifference, '\n')

This is a union of the family names: {'Michael', 'Jerry', 'Pam', 'Tim', 'Wendy', 'Seth', 'Joe', 'Roman', 'Jim', 'John', 'Jan', 'Rick', 'Sam', 'Kim', 'Tom'}

This is a intersection of the family names: {'John', 'Jan', 'Sam', 'Tim', 'Jim'}

This is the difference of the family names: {'Rick', 'Kim', 'Pam', 'Seth', 'Roman'}

This is the symmetric difference of the family names: {'Michael', 'Jerry', 'Rick', 'Kim', 'Pam', 'Wendy', 'Seth', 'Joe', 'Roman', 'Tom'}

## Requirement 9

In [6]:
# Demonstrate the use of if, elif, and else statements based on weather conditions

weather_F = 100

if weather_F > 78:
    
    print('The weather is hot.')
    
elif weather_F >= 60:
    
    print('The weather is comfortable')
    
else:
    
    print('The weather is cold')

The weather is hot.

## Requirement 10

In [7]:
# Demonstrate the use of a for loop using a range:

for x in range(10):
    print(x, end = ' ')

# Demonstrate the use of a for loop using list contents:

list_loop = ['Jim', 'Sam', 'Tim']

print('\n')

for x in list_loop:
    print(x)

0 1 2 3 4 5 6 7 8 9

Jim
Sam
Tim

## Requirement 11

In [8]:
# Demonstrate the use of the below in two while loops:
# i = 0 to 7 (where 7 is the number of times the loop executes)

i = 0

while i < 8:
    
    print(i, end = ' ')
    
    i += 1
    
print('\n')

#i = 1 to 7 (where 7 is the number of times the loop executes)

i = 1

while i < 8:
    
    print(i, end = ' ')
    
    i += 1

0 1 2 3 4 5 6 7

1 2 3 4 5 6 7

## Requirement 12

In [9]:
# Define and use a function named factorial() that returns the factorial of a
# number that is passed to it as an argument when called. For example,
# factorial(5) should return the result of 5x4x3x2x1 = 120

def factorial(number):
   
    result = 1
    factor = number
    
    for x in range(1,factor+1):
        
        result = result * x
        
    return result
        
factorial(5)

120

## Requirement 13

In [10]:
# Define and use a function named vegetables() that takes numbers of
# vegetables as *args and names of vegetables as **kwargs.

def vegetables(*number, **names):
    
    print(number)
    print(names)

vegetables(5, carrots=3, radish=2)

(5,)
{'carrots': 3, 'radish': 2}

## Requirement 14

In [11]:
# Create a list named cars that contains three dictionaries each with three
# key::value pairs.
# The key::value pairs should represent three common
# attributes::values of automobiles

cars =[{'Make':'Honda','Model':'CR-V','Color':'Black'},
       {'Make':'Volkswagon','Model':'GTI','Color':'Blue'},
       {'Make':'GMC','Model':'Denali','Color':'Silver'}]

# pass the cars list to the sorted built-in function and use a lambda to
# sort the cars list

sort_make = sorted(cars, key=lambda item: item['Make'])

print('Sort by make:', sort_make)
# perform another sort on the cars list using a lambda and a different
# key

print('\n')

sort_model = sorted(cars, key=lambda item: item['Model'])

print('Sort by model', sort_model)

Sort by make: [{'Make': 'GMC', 'Model': 'Denali', 'Color': 'Silver'}, {'Make': 'Honda', 'Model': 'CR-V', 'Color': 'Black'}, {'Make': 'Volkswagon', 'Model': 'GTI', 'Color': 'Blue'}]


Sort by model [{'Make': 'Honda', 'Model': 'CR-V', 'Color': 'Black'}, {'Make': 'GMC', 'Model': 'Denali', 'Color': 'Silver'}, {'Make': 'Volkswagon', 'Model': 'GTI', 'Color': 'Blue'}]

## Requirement 15

In [12]:
# Demonstrate the use of a try and except statement

try:
    
    user_input = float(input("Input number: "))
    
except ValueError:
    
    print("Error! A valid number wasn't entered!")

Input number: hi
Error! A valid number wasn't entered!

## Requirement 16

In [13]:
# Demonstrate the use of try, except, else, and finally statements.

try:
    
    user_input = float(input("Input number: "))
    
except ValueError:
    
    print("Error! A valid number wasn't entered!")

else: 
    
    result = user_input + 5
    print(result)

finally:
    
    print('The statement has been executed')

Input number: 5
10.0
The statement has been executed

## Requirement 17

Iterators aid the process of repetition over certain portions of code for automation purposes in a particular order. Python treats things like lists that aren't specifically lists that can be iterated through.

## Requirement 18

In [14]:
# Create a list of 10 animal species named animals_list and demonstrate the
# use of len() and iteration to print the index and values of the animals in the list

species_list = ['Bobcat', 'Cheetah', 'Lion', 'Hippo', 'Raccoon', 'Wolf', 'Coyote','Polar Bear', 'Red Fox','Oak Toad']

for species in range(len(species_list)):
    print(species, species_list[species])

0 Bobcat
1 Cheetah
2 Lion
3 Hippo
4 Raccoon
5 Wolf
6 Coyote
7 Polar Bear
8 Red Fox
9 Oak Toad

## Requirement 19

In [15]:
# Use the enumerate iterator to perform the same actions as the previous requirement.

for x, species in enumerate(species_list):
    print(x, species)

0 Bobcat
1 Cheetah
2 Lion
3 Hippo
4 Raccoon
5 Wolf
6 Coyote
7 Polar Bear
8 Red Fox
9 Oak Toad

## Requirement 20

In [16]:
# Create a list of 10 colors named colors_list. Use the zip iterator print the
# values of the animals_list and colors_list within the same for loop.

colors_list = ['Blue','Red', 'Yellow', 'Orange', 'Purple', 'Green', 'Sky Blue', 'Light Green','Teal', 'Brown']

for species, colors in zip(species_list, colors_list):
    print(species, colors)

Bobcat Blue
Cheetah Red
Lion Yellow
Hippo Orange
Raccoon Purple
Wolf Green
Coyote Sky Blue
Polar Bear Light Green
Red Fox Teal
Oak Toad Brown

## Requirement 21

In [17]:
# Create a lambda named times_ten that multiplies the variable x by 10. Use
# the map iterator and range(10) to evaluate the lambda in a for loop.

times_ten = lambda x: x * 10

for val in map(times_ten, range(10)):
    print(val, end=' ')

0 10 20 30 40 50 60 70 80 90

## Requirement 22

In [18]:
# Create a lambda named by_three that returns true if the variable x is
# evenly divisible by 3. Use the filter iterator and range(30) to evaluate the lambda in a for loop.

by_three = lambda x: x % 3 == 0

for val in filter(by_three, range(30)):
    print(val, end=' ')

0 3 6 9 12 15 18 21 24 27

## Requirement 23

The assignment helped me with concepts I was aware of, but didn't use frequently. This involved lamba functions, args, and kwargs. Args working as an iterator in the textbook was interesting.